html {
    background-color: #e6e9e9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
   font-weight: 200;
}

.header {
    display: flex;
    background-image: url(https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?size=626&ext=jpg);
    color: ivory;
    font-weight: 200;
    flex-direction: column;
}

.list {
    padding-left: 100px;
    padding-bottom: 30px;
}

h1 {
    border: blue;
    border-width: 5px;
    font-size: 50px;
    font-weight: 200;
    padding-top: 30px;
    padding-left: 70px;
}

h2 {
    font-weight: 250;
}

h3 {
    font-weight: 200;
    color: #484848;
}

.info{
    background-color: #fff;
    padding: 20px;
    margin-right: 200px;
    margin-left: 200px;
}